.elevation-4 {
    box-shadow: 0.5px 0.5px 20px 0.5px;
}

.btn-red {
    background-color: rgb(8, 8, 8);
    width: 65%;
    border-radius: 10px;
    color: gold;
}

.btn-red:hover {
    color: gold;
    box-shadow: 1px 1px 10px 1px;
}

.btn-defaults {
    color: gold;
    border: 2px black solid;
    border-radius: 10px;
    width: 65%;
}

.btn-defaults:hover {
    color: gold;
    box-shadow: 1px 1px 10px 1px;
}

.btn:focus {
    box-shadow: none;
}

.progress {
    height: 2.5vh;
}

.progress-bars {
    background-image: linear-gradient(to right, rgb(12, 12, 122), gold);
}

.progress-bars-3 {
    background-image: linear-gradient(to right, rgb(4, 39, 128), rgb(9, 128, 179));
}

.progress-bars-2 {
    background-image: linear-gradient(to right, RED, yellow);
}

.progress-bars-1 {
    background-image: linear-gradient(to right, #ac2895, #c11b8a, #d20c7c, #e0056d, #eb125d);
}