@media screen and (max-width:760px) {
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 5vh;
        background-color: rgb(5, 5, 5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 999;
        overflow-x: hidden;
    }
    .nav-links li {
        opacity: 0;
    }
    .icon-container {
        display: none;
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}